
.container {       
        display: flex;
        align-items:center;
        font-family: 'Tangerine', serif;
        font-size: 24px;
        font-weight:bolder;
        text-shadow: 4px 4px 4px rgb(200, 0, 125);
        color: blue;
        }

.buysell{
        /*display:flex;*/
        align-items: center;
}        
.buysell span input{
        width: 70px;
        align-content: center;
}
.buysell span label{
        font-size: 8px;
        color: red;
        font-weight: bold;
}
.container span{        
        font-size:10px;
        color: black;       
        }              

img {   
        margin-right: 10px;                 
    } 


#findStock {
     color: chocolate;
     text-align: center;
}



    .btn-group button {        
                background-color:orange; /* Green background */
                border: 1px solid rgb(69, 30, 210); /* Green border */
                color: rgb(111, 0, 255); /* White text */
                padding: 10px 24px; /* Some padding */
                cursor: pointer; /* Pointer/hand icon */
                float:left ; /* Float the buttons side by side */
                font-weight: bold;
                               
            }
        /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3e8e41;
    }
    

#stockTbody td
{
	font: size 10px;
	border:1px solid #A7C942;
	padding:3px 7px 2px 7px;
        text-align: center;
}
#stockTable
{
        width: 100%;
	font-size:12px;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:darkgreen;
        font-weight: bold;
} 
           