
body {
        /*width: 800px; */
        border: 1px solid #ccc;
        padding: 10px;
        overflow: auto;        
        /*white-space: pre-wrap; */
        }
        
input {
        width: 50px;
}       

div {
        width: 100%;
        color: blue;
        font-size: 60%;                
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
        }

.container { 
        display: flex; 
        align-items: center;  
        } 
img { 
        margin-right: 10px; 
    } 

        #findStock {
                color: chocolate;
                text-align: center;
        }

 span {
        color: brown;
        font-size: 16px;
 }       

button {
        margin-top: 8px;
        padding: 0.3em;
        border-color:chocolate;
        border-radius: 0.3em;
        background-color: burlywood;
        } 


#stockTable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#stockTable td, #stockTable th 
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
        text-align: center;
}
#stockTable th 
{
	font-size:1.1em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:darkgreen;
        font-weight: bold;
} 
           